*~
/target/
/.classpath
/.factorypath
/.scannerwork/
/.settings/
/.project
/.gradle
/.idea/
*.iml
/archive/archiveOldArtifacts/.data/
/archive/archiveOldArtifacts/.archive/
/archive/archiveOldArtifacts/build/
/archive/archiveOldArtifacts/.gradle/
/archive/archiveOldArtifacts/artifactory.lic
