[project]
	description = Sample Artifactory User Plugins
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group jfrog_soldev
	viewDrafts = group jfrog_soldev
	viewDrafts = block group Anonymous Users
[access "refs/for/refs/*"]
	read = group jfrog_soldev
	push = group jfrog_soldev
	label-Code-Review = -2..+2 group jfrog_soldev
	label-Verified = -1..+1 group jfrog_soldev
	rebase = group jfrog_soldev
	removeReviewer = group jfrog_soldev
	submit = group jfrog_soldev
	viewDrafts = group jfrog_soldev
	viewDrafts = block group Anonymous Users
[access "refs/heads/*"]
	read = group jfrog_soldev
	create = group jfrog_soldev
	push = +force group jfrog_soldev
	pushMerge = group jfrog_soldev
[access "refs/tags/*"]
	push = +force group jfrog_soldev
	pushTag = group jfrog_soldev
	pushSignedTag = group jfrog_soldev
