[project]
	description = Sample Artifactory User Plugins
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group jfrog_soldev
[access "refs/for/refs/*"]
	read = group user/edwardl50
	push = group user/edwardl50
	label-Code-Review = -2..+2 group user/edwardl50
	label-Verified = -1..+1 group user/edwardl50
	rebase = group user/edwardl50
	removeReviewer = group user/edwardl50
	submit = group user/edwardl50
[access "refs/heads/*"]
	read = group user/edwardl50
	create = group user/edwardl50
	push = +force group user/edwardl50
	pushMerge = group user/edwardl50
[access "refs/tags/*"]
	push = +force group user/edwardl50
	pushTag = group user/edwardl50
	pushSignedTag = group user/edwardl50
